<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <% if (locals.selectedTag) { %>
        <div class="col-12 text-center mb-4">
          <h3>Showing posts tagged with: <%= selectedTag %></h3>
          <a href="/feed" class="btn btn-secondary">Clear Filter</a>
        </div>
      <% } %>
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
              <a href="/post/<%= posts[i]._id%>" class="text-decoration-none">
                <img class="card-img-top" src="<%= posts[i].frontImage%>" alt="Hot Wheels front view">
                <div class="card-body">
                  <h5 class="card-title text-dark"><%= posts[i].title %></h5>
                  <% if (posts[i].tags && posts[i].tags.length > 0) { %>
                    <div class="mt-2">
                      <% posts[i].tags.forEach(function(tag) { %>
                        <span class="badge bg-secondary"><%= tag %></span>
                      <% }); %>
                    </div>
                  <% } %>
                </div>
              </a>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>